ellipsis()
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

summary()
    margin-top 10px
    line-height 1.2
    letter-spacing 1px
    font-size 1.2em

section()
    position absolute
    top 0
    bottom 0
    right 0
    width 83.333%
    transition width .4s